In [1]:
#https://pandas.pydata.org/
#https://www.youtube.com/watch?v=F6kmIpWWEdU&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy&index=2
#https://github.com/codebasics/py/blob/master/pandas/2_dataframe_basics/weather_data.csv

import pandas as pd

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
#creating a dataframe using python dictionary

weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

weather_data

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017'],
 'temperature': [32, 35, 28, 24, 32, 31],
 'windspeed': [6, 7, 2, 7, 4, 2],
 'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']}

In [41]:
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.shape # row * column = 6 * 4

(6, 4)

In [5]:
rows, column = df.shape
print(rows)
print(column)

6
4

In [6]:
df.head() #returns first 5 elements

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [7]:
df.tail()#returns last 5 elements

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df.head(2)#returns first 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [9]:
df.tail(2)#return last 2 row

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df[2:5]#returns row 2 to row 4 (=5-1)

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [11]:
df[:]#returns everything OR df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df.columns #returns all columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df.day #returns individual column (day column inthis case)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [14]:
df['event'] #returns event column data OR df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [15]:
type(df['event']) #Returns data type of event column

#comulns in dataframe are in pandas series datatype

pandas.core.series.Series

In [16]:
df.dtypes #returns datatype of entry inside each column

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

In [17]:
df[['event','day']] #returns especific columns entry only

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [18]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [19]:
df.temperature.max() #returns maximum temperature of df['temperature']

35

In [20]:
df.temperature.min() #returns minimum temperature of df['temperature']

24

In [21]:
df.temperature.mean() #returns mean temperature of df['temperature']

30.333333333333332

In [22]:
df.temperature.median() #returns median temperature of df['temperature']

31.5

In [23]:
df.temperature.mode() #returns mod temperature of df['temperature']

0    32
Name: temperature, dtype: int64

In [24]:
df.temperature.std() #returns standard deviation temperature of df['temperature']

3.8297084310253524

In [25]:
df.temperature.var() #returns variance temperature of df['temperature']

14.666666666666666

In [26]:
df.describe() #find min max mean std q1,q2,q3 values

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [28]:
df[df.temperature>=32] #df[condition] prints rows satisfying given condition

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [31]:
df[df.temperature==df.temperature.max()]#returns row where temperature was maximum

#df[df.temperature==df['temperature'].max()] # <-- if column name has space seperation we have to use this syntax

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [32]:
df['day'][df.temperature==df['temperature'].max()] #prints day when their is maximum temperature

1    1/2/2017
Name: day, dtype: object

In [33]:
df[['day','temperature']][df.temperature==df['temperature'].max()] #prints day, temperature when their is maximum temperature

        day  temperature
1  1/2/2017           35

In [35]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [37]:
df.index #start index = 0, total = 6

RangeIndex(start=0, stop=6, step=1)

In [42]:
#changing the index from integer index to day

df.set_index('day',inplace=True)

In [43]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [45]:
df.loc['1/4/2017']#returns row with this index

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [46]:
df.reset_index(inplace=True)#replacing index to original intiger

In [47]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [48]:
#here in event we have 2 Rain 2 Sunny and 2 Snow so lets try indexing event

df.set_index('event',inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [51]:
df.loc['Rain']#here index is not unique

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Rain   1/5/2017           32          4